
html,
body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}



.tabular {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}
